*
{
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after
{
    display: table;
    content: "";
}

.clearfix:after
{
    clear: both;
}

a
{
    color: #fff;
}

.icon
{
    display: block;

    background: url(../i/i.png) no-repeat;
}

.icon_type_arrow
{
    position: absolute;
    top: 10px;
    right: 4px;

    visibility: hidden;

    background-position: -95px -1px ;

    width: 16px;
    height: 16px;

    cursor: pointer;
}

.widget:hover .icon_type_arrow
{
    visibility: visible;
}

.icon_type_card
{
    background-position: -54px 0;

    width: 24px;
    height: 26px;
}

.icon_type_mail
{
    background-position: -27px -1px ;

    width: 23px;
    height: 23px;
}

.icon_type_phone
{
    background-position: 0 0;

    width: 17px;
    height: 24px;
}

.page
{
    font: lighter 12px Arial, sans-serif;

    line-height: 16px;
    color: #fff;

    background: url(../i/page-bg.jpg);
}

.page__body
{
    margin: auto;
    min-width: 1000px;
    max-width: 1082px;
    height: 848px;

    background: url(../i/body-bg.png) 50% 0 repeat-y;
}

/* Стили для раскладки страницы */
.layout
{
    margin: auto;
    width: 950px;

    overflow: hidden;
}

.layout__lcol
{
    float: left;
    margin: 0 0 0 32px;
    width: 270px;
}

.layout__ccol
{
    float: left;
    margin: 0 0 0 30px;
    width: 170px;
}

.layout__rcol
{
    float: left;
    margin: 0 0 0 20px;
    width: 418px;
}

/* Контент */
.photo
{
    margin: 0 0 22px;

    border: 0;
}

.contacts
{
    margin: 0 0 20px 0;

    overflow: hidden;

    list-style: none;

    background: #a47800;
}

.contacts__link
{
    text-decoration: none;
    cursor: pointer;
}

.contacts__item
{
    float: left;
    width: 55px;
    height: 40px;

    border-right: 1px solid #897338;
    border-left: 1px solid #c6ab60;
}

.contacts__item_position_first
{
    border-left: 0;
}

.contacts__item_position_last
{
    border-right: 0;
}

.contacts .icon
{
    margin: 8px auto;

    cursor: pointer;
}

.widget-area
{
    overflow: hidden;
}


.widget
{
    position: relative;
    padding: 10px 20px 20px 20px;

    cursor: pointer;
}

.layout__ccol .widget,
.layout__rcol .widget
{
    padding-left: 10px;
}


.widget_color_blue
{
    height: 425px;
    background: rgba(0, 134, 156, 0.7);
    cursor: default;
}

.widget_color_pink
{
    border-top: 1px solid #aa6e8f;
    border-bottom: 1px solid #80506b;
    background: #76164c;
}

.widget_color_pink:hover
{
    background: #bb1d48;
}

.widget_color_orange
{
    float: right;
    width: 87px;
    height: 127px;

    background: rgba(211, 72, 39, 0.7);
}

.widget_color_orange:hover
{
    background: #d34827;
}

.widget_color_purple
{
    float: left;
    width: 271px;
    height: 67px;

    background: rgba(118, 22, 76, 0.7);
}

.widget_color_purple:hover
{
    background: #76164c;
}

.widget_color_dark-grey
{
    float: left;
    width: 130px;
    height: 90px;
    background: rgba(54, 54, 54, 0.7);

}

.widget_color_dark-grey:hover
{
    background: #363636;;
}

.widget_color_light-grey
{
    float: left;
    width: 111px;
    height: 90px;
    background: rgba(99, 99, 99, 0.7);
}

.widget_color_light-grey:hover
{
    background: #636363;
}

.widget_color_light-pink
{
    float: left;
    width: 87px;
    height: 90px;
    background: rgba(187, 29, 72, 0.7);
}

.widget_color_light-pink:hover
{
    background: #bb1d48;
}

.widget_color_brawn
{
    float: none;
    background: rgba(176, 128, 0, 0.7);
}

.widget_color_brawn:hover
{
    background: #b08000;
}

.widget_color_violet
{
    background: rgba(44, 25, 86, 0.7);
}

.widget_color_violet:hover
{
    background: #2c1956;
}

.widget__title
{
    font-size: 20px;
    font-weight: normal;

    padding: 15px 0 8px 0;

    color: #000;
}



.col-title
{
    font-size: 20px;
    font-weight: normal;

    padding: 0 0 0 10px;
    height: 60px;

    line-height: 40px;
    color: #be1e4a;

    background: #252525;
}

.widget-area .col-title
{
    float: left;
    width: 290px;
}

.col-footer
{
    height: 37px;

    background: #252525;
}

.preview
{
    margin: 0 0 20px 0;
    height: 280px;

    background: #494949;
}

.preview__title
{
    font-size: 17px;
    font-weight: normal;

    margin: 0 0 0 15px;
    padding: 0 0 0 15px;

    height: 38px;
    line-height: 38px;

    color: #fff;
    background: #d34827;
}

.preview__body
{
    display: none;
    padding: 15px 15px 15px 20px;
    max-height: 185px;
    overflow-y: auto;
}

.preview__body_visibility_visible
{
    display: block;
}

.preview__text
{
    padding: 2px 0;
    text-indent: 12px;
}