.widget_color_blue
{
    background: #00869c;
}

.widget_color_orange
{
    background: #d34827;
}

.widget_color_purple
{
    background: #76164c;
}


.widget_color_dark-grey
{
    background: #363636;;
}

.widget_color_light-grey
{
    background: #636363;
}

.widget_color_light-pink
{
    background: #bb1d48;
}

.widget_color_brawn
{
    background: #b08000;
}

.widget_color_violet
{
    background: #2c1956;
}

